.Home .lander {
    padding-top: 40px;
    text-align: center;
}

.Home .lander h1 {
    font-weight: 600;
}

.Home{
    margin-right: 2rem;
    margin-left: 2rem;
}

.Scrollable{
    overflow-y: scroll;
    height: 20vh;
}